.container {
  text-align: center;
  /* background-color: lightblue; */
}

.container > * {
  margin: 30px 0;
}

.postContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: purple; */
  border-top: thin solid gray;
  border-bottom: thin solid gray;
  /* background-color: lightcoral; */
}

.postContainer > * {
  align-items: center;
  margin: 0 40px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: purple; */
  border-top: thin solid gray;
  border-bottom: thin solid gray;
  /* background-color: lightcoral; */
}

.titleContainer > * {
  height: 40px;
  margin: 0 40px;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: purple; */
  border-top: thin solid gray;
  border-bottom: thin solid gray;
  /* background-color: lightcoral; */
}

.contentContainer > * {
  height: 200px;
  margin: 0 40px;
}

.authorContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: purple; */
  border-top: thin solid gray;
  border-bottom: thin solid gray;
  /* background-color: lightcoral; */
}

.authorContainer > * {
  height: 40px;
  margin: 0 40px;
}

.other {
  display: flex;
  /* background-color: lightgreen; */
}

.commentIcon {
  transform: scaleX(-1);
}

.textInput {
  width: 100%;
}

.icon {
  height: 30px;
  width: 30px;
  margin: 0 5px 0 5px;
}